$theme-colors: (
    "light":      #f9ddea,
    "dark":       #000100,
    "primary":    #f8c8dc,
    "secondary":  #1f2349,
    "info":       #9057a9,
    "success":    #25a474,
    "warning":    #d5d025,
    "danger":     #e04113,
    "grey":       #222222
);

.link-white {
    color: white;
}
.link-white:hover {
    color: white;
}

@import "node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-down(md) {
    main {
        padding: 0.5rem;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .container {
        padding: 0rem ! important;
    }

    .main-card {
        padding: 0.5rem !important;
    }
    .col-sm {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
