---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
---

<Layout title="Asteroid Arcade">
	<main>
        <p>I made a game.</p>

		<div class="d-flex justify-content-center embed-responsive">
			<YoutubeVideo url="SFdr_BaknVw" title="Trailer" />
		</div>

		<p>Asteroid Arcade started as an <a href="https://xen-dev.itch.io/asteroid-arcade" class="link-dark">Android/browser game</a> I made years ago.
		It was a endless space shooter where the player tries to survive as long as possible, and collect coins to unlock new ships for their next run.
		</p>

		<div class="d-flex justify-content-center p-2"><img class="w-50" src="/images/asteroid arcade.gif"></div>
		<p class="text-center">The android version of Asteroid Arcade.</p>
		<br/>

		<p>
			I wanted to take that original concept and expand it with multiple levels and a lighthearted, humourous story line. So I did that.
		</p>

		<br/>

		<div class="d-flex justify-content-center embed-responsive">
			<iframe src="https://store.steampowered.com/widget/2329390/" frameborder="0" width="646" height="190"></iframe>
		</div>

		<br/>

		<p>If you encounter any technical issues in the game please report them to me at <b>support at xen-42 dot com</b>.</p>
	</main>
</Layout>