---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Asteroid Arcade">
	<main>
        <p>I made a game.</p>

		<div class="d-flex justify-content-center">
			<iframe src="https://store.steampowered.com/widget/2329390/" frameborder="0" width="646" height="190"></iframe>
		</div>

	</main>
</Layout>