---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
import BrandIcon from '../components/BrandIcon.astro';
---

<Layout title="Deckarium">
	<main>
        <p>Deckarium is my second released game!</p>

		<div class="d-flex justify-content-center embed-responsive">
			<YoutubeVideo url="lavPR_NcpW8" title="Trailer" />
		</div>

		<p>With it I participated in Steam Next Fest with a short 20 minute demo. Between that and publishing devlogs on Youtube I tried to mildly market this game more than my last one.</p>

		<p>Check out the devlog playlist <a href="https://www.youtube.com/playlist?list=PLepR-c8CWoFKPLY3cqLoJ-9lwcPoHPF3I">here</a>!</p>

		<div class="d-flex justify-content-center embed-responsive">
			<iframe src="https://store.steampowered.com/widget/3011230/" frameborder="0" width="646" height="190"></iframe>
		</div>

		<br/>

		<p>If you encounter any technical issues in the game please report them to me at <b>support at xen-42 dot com</b>.</p>
	</main>
</Layout>