---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
---

<Layout title="Deckarium">
	<main>
        <p>Coming soon.</p>

		<div class="d-flex justify-content-center embed-responsive">
			<YoutubeVideo url="lavPR_NcpW8" title="Trailer" />
		</div>

		<br/>

		<div class="d-flex justify-content-center embed-responsive">
			<iframe src="https://store.steampowered.com/widget/3011230/" frameborder="0" width="646" height="190"></iframe>
		</div>

		<br/>
	</main>
</Layout>