---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
import BrandIcon from '../components/BrandIcon.astro';
import Title from '../components/Title.astro';

const videos = ["Qbfqu-Y7toE", "xEsdQGA4uNw", "Q3L0AlWFFOo"];
---

<Layout title="Dredge VR">
	<main>

        <div class="p-2"><img class="w-100" src="/images/dredge-vr-banner.png" alt="DREDGE VR banner image"></div>

        <p>A WIP VR mod for <b>DREDGE</b>. It can be installed using the mod manager from the <a class="link-dark" href="https://dredgemods.com/">DREDGE mods website</a>.</p>

		
		<div class="card p-2 pb-0 mb-4 bg-grey text-white">
			<div class="d-flex justify-content-center embed-responsive">
				<YoutubeVideo url="00tAQ_7i1To" title="Dredge VR Devlog on Youtube" />
			</div>
			<p class="text-center">Watch my first VR devlog on Youtube above.</p>
		</div>

		<div class="card p-2 pb-0 mb-4 bg-grey text-white">
			<div class="d-flex justify-content-center embed-responsive">
				<YoutubeVideo url="bW2hzQDZPi0" title="Dredge VR Gameplay on Youtube" />
			</div>
			<p class="text-center">Watch a short VR gameplay video.</p>
		</div>

		The mod is <b>open source</b> and can be found on my GitHub. 

		<br/>
		<br/>
		<br/>

		<BrandIcon class="fa-github" name="DREDGE VR GitHub" url="https://github.com/xen-42/dredgevr" linkClass="link-dark" />

		</br>

        <Title title="Youtubers trying DREDGE VR"></Title>

        {videos.map((video) => <YoutubeVideo url={video} title="Youtube video of DREDGE VR" />)}

        <br/>
	</main>
</Layout>