---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
import BrandIcon from '../components/BrandIcon.astro';
---

<Layout title="Cosmic Horror Fishing Buddies">
	<main>

        <div class="p-2"><img class="w-100" src="/images/chfb.png" alt="Screenshot of Medley of Planets by smallbug"></div>

        <p>A WIP online multiplayer mod for DREDGE. It can be installed using the mod manager from the <a class="link-dark" href="https://dredgemods.com/">DREDGE mods website</a>.</p>

		<p>This mod uses <a class="link-dark" href="https://mirror-networking.com/">Mirror</a> and Epic Online Services to provide a multiplayer experience.</p>

		<p>Currently what is synced is:</p>

		<ul>
			<li> Player movement </li>
			<li> Engine sounds and ship wake </li>
			<li> Time (when sleeping or otherwise skipping time all players must be skipping time for it to occur) </li>
			<li> Fishing spots (stock is synced but "special" status isn't currently </li>
			<li> Unlockable abilities </li>
			<li> Ship appearance (ex, from upgrades and catching fish)</li>
		</ul>

		<div class="d-flex justify-content-center embed-responsive">
			<YoutubeVideo url="WwkHOzUag04" title="Cosmic Horror Fishing Buddies on Youtube" />
		</div>

		<p>
			My experience contributing to <a href="https://github.com/misternebula/quantum-space-buddies" class="link-dark">Quantum Space Buddies</a>, the multiplayer mod for Outer Wilds,
			was very helpful in creating this (I contributed syncing some of the tutorial mechanics from the starting area as well as many of the games sound effects).
			 Even more helpful was being able to learn from and ask questions of the other developers of that mod.
		</p>

		<br/>

		<BrandIcon class="fa-github" name="Cosmic Horror Fishing Buddies GitHub" url="https://github.com/xen-42/cosmic-horror-fishing-buddies" linkClass="link-dark" />

	</main>
</Layout>