---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
import BrandIcon from '../components/BrandIcon.astro';
---

<Layout title="Dredge VR">
	<main>

		<div class="d-flex justify-content-center embed-responsive">
			<YoutubeVideo url="bW2hzQDZPi0" title="Dredge VR Gameplay on Youtube" />
		</div>

        <p>A WIP VR mod for DREDGE. Currently it is only available in early access on my <a class="link-dark" href="https://www.patreon.com/xen42">Patreon</a>.</p>

		<div class="d-flex justify-content-center embed-responsive">
			<YoutubeVideo url="00tAQ_7i1To" title="Dredge VR Devlog on Youtube" />
		</div>

	</main>
</Layout>