---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
---

<Layout title="Cosmic Horror Fishing Buddies">
	<main>
		<div class="d-flex justify-content-center embed-responsive">
			<YoutubeVideo url="WwkHOzUag04" title="Cosmic Horror Fishing Buddies on Youtube" />
		</div>

        <p>I made a mod. </p>
	</main>
</Layout>