---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
import BrandIcon from '../components/BrandIcon.astro';
---

<Layout title="Cosmic Horror Fishing Buddies">
	<main>
		<div class="d-flex justify-content-center embed-responsive">
			<YoutubeVideo url="WwkHOzUag04" title="Cosmic Horror Fishing Buddies on Youtube" />
		</div>

        <p>I made a mod. </p>

		<BrandIcon class="fa-github" name="Cosmic Horror Fishing Buddies GitHub" url="https://github.com/xen-42/cosmic-horror-fishing-buddies" linkClass="link-dark" />

	</main>
</Layout>