---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<p>Hey it's me xen-42 from xen-42 dot com. This is a place for me to write about my personal projects.</p>

		<p>I make games! Check out <a href="/asteroidarcade/" class="link-dark">Asteroid Arcade</a> on Steam, or one of my <a href="/jams/" class="link-dark">free games</a>
			 on Itch.io.</p>

		<p>I also make <a href="/mods/" class="link-dark">mods</a> for Outer Wilds and Dredge.</p>

		<p>I've made a number of small <a href="/prototpes/" class="link-dark">prototypes and demos</a>. I often document my progress on these projects on my 
		<a href="https://www.youtube.com/c/xen-dev" class="link-dark">Youtube channel</a>.</p>
	</main>
</Layout>
