---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<p>Hey it's me xen-42 from xen-42 dot com. This is a place for me to write about my personal projects.</p>

		<p>I make games. Check out Asteroid Arcade on Steam, or one of my free games on Itch.io.</p>

		<p>I also make mods for Outer Wilds and Dredge.</p>
	</main>
</Layout>
