---
import Layout from '../layouts/Layout.astro';
---

<Layout title="New Horizons">
	<main>
        <p>New Horizons is a modding framework.</p>
        <p>Find out more <a href="https://nh.outerwildsmods.com/">here</a>.</p>
        <p>I'll write more stuff here eventually.</p>
	</main>
</Layout>