---
import Layout from '../layouts/Layout.astro';
import YoutubeVideo from '../components/YoutubeVideo.astro';
import BrandIcon from '../components/BrandIcon.astro';
import Article from '../components/Article.astro';
import Title from '../components/Title.astro';

const videos = ["xGhTDWNEqP0", "ikljsQg9Tyc"];
const articles = [
        { url : "https://whileromeburns.net/mod-it-till-it-breaks-outer-wilds-the-vision-e40a586de043", title : "Mod it ‘Till it Breaks: Outer Wilds — The Vision" },
        { url : "https://thepixelpost.com/dossiers/outer-wilds-meilleurs-mods/", title : "Les meilleurs mods d'Outer Wilds" },
]
---

<Layout title="New Horizons">
	<main>

        <div class="p-2"><img class="w-100" src="/images/medley.png" alt="Screenshot of Medley of Planets by smallbug"></div>
        <p class="text-center">Image above from <a class="link-dark" href="https://outerwildsmods.com/mods/medleyofplanets/">Medley of Planets</a> by smallbug, using New Horizons</p>

        <p>
            New Horizons is a modding framework for Outer Wilds. It's used to make planets and other custom content for the game.
            One of the main draws of New Horizons is that it allows for custom content to be made <b>without any coding knowledge</b>. 
            Planets, characters, dialogue, and many other features can all be configured using json and xml files, while New Horizons does the heavy lifting of putting it all into 
            the game world.
        </p>

        <div class="p-2"><img class="w-100" src="/images/jupiter.png" alt="Screenshot of Jupiter from the Real Solar System mod"></div>
        <p class="text-center">Image above from the <a class="link-dark" href="https://outerwildsmods.com/mods/realsolarsystem/">Real Solar System</a> mod I created using New Horizons.</p>

        <p>
            In January 2023 we organized a <a href="https://outerwildsmods.com/jam/" class="link-dark">New Horizons Mod Jam</a> on the outer wilds modding website and Discord server.
            Entrants had one week (plus a small deadline extension at the end) to make mods for Outer Wilds using New Horizons which had to fit one of two themes: <b>clockwork</b> or <b>layers</b>.
            14 entries were submitted by teams of up to three people, and community judging resulted in ties for first and second place.
        </p>

        <p>
                New Horizons is an open source project with 19 contributors to our GitHub repo. It has been incredibly rewarding to be able to work with so many people from around the world on this project,
                and to see the <a class="link-dark" href="https://outerwildsmods.com/mods/newhorizons/addons/">70+ mods made using the framework</a>.
        </p>        

        <p>
                For more info about New Horizons you can read our <a class="link-dark" href="https://nh.outerwildsmods.com/">documentation site</a>.</p>
        </p>

        <br/>

        <BrandIcon class="fa-github" name="New Horizons GitHub" url="https://github.com/Outer-Wilds-New-Horizons" linkClass="link-dark" />

        <br/>
        
        <Title title="Youtube videos featuring New Horizons"></Title>

        {videos.map((video) => <YoutubeVideo url={video} title="Youtube video of New Horizons" />)}

        <br/>

        <Title title="Articles featuring New Horizons"></Title>
        
        {articles.map((article) => <Article url={article.url} title={article.title} />)}

	</main>
</Layout>