---
export interface Props {
    url: string;
    title: string;
}

const { url, title } = Astro.props;
---

<style>
    a {
        color: white;
    }
    a:hover {
        color: white;
    }
    div:hover {
        opacity: 0.5;
    }
</style>

<div class="bg-secondary m-2 link-light rounded p-2">
    <a href={url}>{title}</a>
</div>

