---
export interface Props {
	class: string;
    name: string;
    url: string;
}

const { class: className, name: brandName, url } = Astro.props;
---

<a class="d-flex flex-column text-center pe-2 ps-2 link-primary text-decoration-none" href={url}>
    <i class:list={className} class="fa-brands fa-2xl"></i>
    <span class="mt-3">{brandName}</span>
</a>