---
import BrandIcon from '../components/BrandIcon.astro';
---

<div class="wrapper flex-grow-1"></div>
<footer>
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center m-2 mt-4 p-2 pt-4">
            <BrandIcon name="GitHub" class="fa-github" url="https://github.com/xen-42" />
            <BrandIcon name="Youtube" class="fa-youtube" url="https://www.youtube.com/c/xen-dev"/>
            <BrandIcon name="Twitter" class="fa-twitter" url="https://twitter.com/xen_42"/>
            <BrandIcon name="Steam" class="fa-steam" url="https://store.steampowered.com/curator/43694197-xen%2527s-games/"/>
            <BrandIcon name="Itch.io" class="fa-itch-io" url="https://xen-dev.itch.io/"/>
            <BrandIcon name="Paypal" class="fa-paypal" url="https://www.paypal.com/paypalme/xen42"/>
            <BrandIcon name="Patreon" class="fa-patreon" url="https://www.patreon.com/xen42"/>
        </div>
    </div>
</footer>

