---
import BrandIcon from '../components/BrandIcon.astro';
---

<div class="wrapper flex-grow-1"></div>
<footer>
    <div class="d-flex justify-content-center">
        <div class="row d-flex justify-content-center m-2 mt-4 p-2 pt-4">
            <div class="col"><BrandIcon name="GitHub" class="fa-github" url="https://github.com/xen-42" /></div>
            <div class="col"><BrandIcon name="Youtube" class="fa-youtube" url="https://www.youtube.com/c/xen-dev"/></div>
            <div class="col"><BrandIcon name="Mastodon" class="fa-mastodon" url="https://mastodon.gamedev.place/@xen"/></div>
            <div class="col"><BrandIcon name="BlueSky" class="fa-brands fa-bluesky" url="https://bsky.app/profile/xen-42.com"/></div>
            <!--div class="col"><BrandIcon name="Twitter" class="fa-twitter" url="https://twitter.com/xen_42"/></div-->
            <div class="col"><BrandIcon name="Steam" class="fa-steam" url="https://store.steampowered.com/curator/43694197-xen%2527s-games/"/></div>
            <div class="col"><BrandIcon name="Itch.io" class="fa-itch-io" url="https://xen-dev.itch.io/"/></div>
            <div class="col"><BrandIcon name="Paypal" class="fa-paypal" url="https://www.paypal.com/paypalme/xen42"/></div>
            <div class="col"><BrandIcon name="Patreon" class="fa-patreon" url="https://www.patreon.com/xen42"/></div>
        </div>
    </div>
</footer>

