<header class="bg-overlay pt-4">

    <div class="d-flex justify-content-center text-white pb-2">
        <a href="/" class="link-light d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center pe-2">
                <h1>xen-42</h1>
            </div>
            <div class="ps-2">
                <img class="rounded-circle" style="height: 80px; padding-bottom: 4px;" src="/images/avatar_large.png" alt="xen-42 avatar">
            </div>
        </a>
    </div>

</header>