<header class="bg-overlay p-4">
    <div class="d-flex justify-content-center align-middle mb-0 text-white">
        <div class="p-2"><h1>xen-42</h1></div>
        <div class="p-2"><img class="rounded-circle" style="height: 64px; padding-bottom: 4px;" src="/images/avatar_large.png"></div>
    </div>
</header>