---
const pages = [
    ["/", "Home"],
    ["/asteroidarcade/", "Asteroid Arcade"],
    ["/mods/", "Mods"],
    ["/jams/", "Game Jams"],
    ["/prototypes/", "Projects & Prototypes"]
]
---

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {pages.map(([path, title]) => (
            <li class="nav-item">
                <a class="nav-link link-dark" href={path}>{title}</a>
            </li> 
            ))}
        </div>
      </div>
    </div>
  </nav>
